<li class="social-profile__item">
    <a href="${scope.profileLink}" rel="nofollow" target="_blank">
        <img class="social-profile__photo" src="${scope.photoPreview}"/>
    </a>
    <div class="social-profile__info" >
        <a class="social-profile__soc-link" href="${scope.profileLink}" rel="nofollow" target="_blank">
            <img class="social-profile__soc-icon" src="${scope.socialLinkPicture}">
            <span class="social-profile__soc-name">${scope.firstName} ${scope.lastName}</span>
        </a>
        ${scope.workTemplate}
    </div>
</li>